<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>by.bsu.guglya.library.controllers.LibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/LibraryServlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>by.bsu.guglya.library.controllers.listeners.LibraryContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.bsu.guglya.library.controllers.listeners.LibrarySessionListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4j</param-name>
        <param-value>WEB-INF\classes\log4j.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.bsu.guglya.library.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>by.bsu.guglya.library.filters.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/jsp/users/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>by.bsu.guglya.library.filters.SessionFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
</web-app>
